html, body, #root {
  height: 100%;
  margin: 0;
}

html {
  background-color: var(--color-background);
}

.App {
  text-align: center;
  background-color: var(--color-background);
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bg-header);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}

.App-link {
  color: var(--color-link-blue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
